---
import Header from '@/components/Header.astro'
import Layout from '@/layouts/Layout.astro'

import { PlusIcon } from '@heroicons/vue/24/outline'
import Sidebar from '@/components/Sidebar.vue'
import Article from '@/components/Article.vue'
import { getPosts } from '@/services/post-service'

const page = Number(Astro.url.searchParams.get('page')) || 1
const perPage = Number(Astro.url.searchParams.get('per_page')) || 15

const posts = await getPosts({
  page,
  per_page: perPage,
})
---

<Layout>
  <div class='min-h-screen bg-white'>
    <!-- Navigation Bar -->
    <Header />

    <!-- Main Content -->
    <main class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6'>
      <div class='flex flex-col lg:flex-row'>
        <!-- Feed Section -->
        <div class='lg:w-2/3 lg:pr-12'>
          <!-- Tabs -->
          <div class='border-b border-gray-200 mb-6'>
            <div class='flex space-x-8'>
              <button>
                <PlusIcon class='h-5 w-5 mr-1' />
              </button>
              <button
                class='flex items-center py-4 border-b-2 border-primary text-primary'
              >
                <span>For you</span>
              </button>
              <button class='py-4 border-b-2 border-transparent'>
                Following
              </button>
            </div>
          </div>

          <!-- Articles -->
          <Article posts={posts?.data} />
        </div>

        <!-- Sidebar -->
        <Sidebar />
      </div>
    </main>
  </div>
</Layout>
