---
import { BellIcon, PencilSquareIcon } from '@heroicons/vue/24/outline'
import SearchBar from './SearchBar.vue'
import AuthDropdown from './AuthDropdown.vue'
import { STIE_NAME } from '@/consts'
---

<header class='border-b border-gray-200 relative'>
  <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8'>
    <div class='flex justify-between items-center h-16'>
      <div class='flex items-center'>
        <div class='flex-shrink-0'>
          <h1 class='text-2xl font-serif font-bold'>
            <a href='/'>
              {STIE_NAME}
            </a>
          </h1>
        </div>
        <SearchBar client:load />
      </div>
      <div class='flex items-center space-x-6'>
        <a href='#' class='flex items-center text-gray-600 hover:text-gray-900'>
          <PencilSquareIcon class='h-6 w-6' />
          <span class='ml-2 hidden md:inline'>Write</span>
        </a>
        <button class='text-gray-600 hover:text-gray-900'>
          <BellIcon class='h-6 w-6' />
        </button>
        <AuthDropdown client:load />
      </div>
    </div>
  </div>
</header>
